# EDA (Exploratory Data Analysis) - Complete the following tasks to explore the data:

In [8]:
import pandas as pd
data= pd.read_csv('../marketing_customer_analysis.csv')

#### 1. Show DataFrame info

In [9]:
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

#### 2. Describe DataFrame.

In [10]:
data.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
count,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000
mean,8004.940475,37657.380009,93.219291,15.097000,48.064594,0.384388,2.966170,434.088794
std,6870.967608,30379.904734,34.407967,10.073257,27.905991,0.910384,2.390182,290.500092
min,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007
25%,3994.251794,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000,272.258244
50%,5780.182197,33889.500000,83.000000,14.000000,48.000000,0.000000,2.000000,383.945434
75%,8962.167041,62320.000000,109.000000,23.000000,71.000000,0.000000,4.000000,547.514839
max,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
data.head()

#### 3. Show a plot of the total number of responses.

In [ ]:
ax = sns.countplot(x="Response", data=data)
plt.title('Total number os responses')
plt.ylabel('Number of responses')
sns.set_palette(['#B3CDE3', '#CCEBC5'])
plt.show()

####  4. Show a plot of the response rate by the sales channel.

In [ ]:
data['Sales Channel'].unique()

In [ ]:
ax2= sns.countplot(x='Sales Channel', data=data,hue='Response')
plt.title('Response rate by the sales channel')

plt.ylabel('Number of responses')
plt.xticks(rotation=45)
ax2.legend()
plt.show()

#### 5. Show a plot of the response rate by the total claim amount.

In [ ]:
ax3= sns.catplot(x='Response', y= 'Total Claim Amount', data=data, kind='bar')
plt.title('Response rate by total claim amount')

plt.show()

In [ ]:
ax4= sns.catplot(x='Response', y= 'Total Claim Amount', data=data, kind='point',color='red')

plt.show()

#### 6. Show a plot of the response rate by income.

In [ ]:
ax5= sns.catplot(x='Response',y='Income',kind='box',data=data)
plt.title('Response rate by income')
plt.show()

#### More info.

In [ ]:
sns.pairplot(data)
plt.show()

In [ ]:
correlation_matrix= data.corr()
correlation_matrix
sns.heatmap(correlation_matrix, annot=True)

plt.show()